server:
  port: 8085

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  data:
    mongodb:
      uri: mongodb://znaji:znaji@localhost:27017/customer?authSource=admin